body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 35vw;
}

figure {
  margin: 0;
  padding: 0;
}

header figure {
  width: 100%;
}

header figure img {
  max-width: 50%;
  margin: 7.5% 12%;
}

header nav {

}

header nav #burger_menu {
  margin: 7.5% 72%;
  font-size: 90px;
  outline: none;
  background-color: rgba(255,255,255,0);
  border: none;
}

header nav #burger_menu:focus {
  color: #185ABC;
}

header nav #burger_menu i:focus {
  outline: 0;
  border: 0;
}

header nav ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

header nav ul li {
  display: block;
}
